body{
    background: #e3f2fd;
}

a:link{
    color: #000000;
}

a:visited{
    color: #000000;
}

.right{
    float: right;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.scrollable{
    overflow-y: auto;
}

.customScrollbar::-webkit-scrollbar {
        width: 8px;
}
    
.customScrollbar::-webkit-scrollbar-track {
        background: #aaaaaa;
        border-radius: 5px;
}
    
.customScrollbar::-webkit-scrollbar-thumb {
        background: #999999;
        border-radius: 5px;
}

.expiredInfo{
    font-weight: bold;
    color: #ff0000;
}

.baseBox{
    background: #90caf9;
    border-radius: 10px;
    padding: 10px;   
}

.baseBox.labelBox{
    max-height: 75px;
    margin-right: 20px;
    align-items: center;
}

.baseBox.auctionsContainerBox{
    padding: 5px;
    max-height: 400px;
}

.baseBox.auctionRowBox{
    background: #5fb0ff;
}